{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>User table</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Content</th>
                    <th class="text-secondary opacity-7 ps-2">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <h6 class="mb-0 text-sm">Name</h6>
                    </td>
                    <td>
                      <p class="text-xs text-secondary mb-0">Content</p>
                    </td>
                    <td>
                      <span class="mb-0 text-secondary text-xs font-weight-bold">01/01/2022</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6 class="mb-0 text-sm">Name</h6>
                    </td>
                    <td>
                      <p class="text-xs text-secondary mb-0">Content</p>
                    </td>
                    <td>
                      <span class="mb-0 text-secondary text-xs font-weight-bold">01/01/2022</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
