{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Django sample
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
  <link id="pagestyle" href="{% static 'css/argon-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="">
{% block content %}{% endblock content %}
  {% include "includes/scripts.html" %}
  {% block scripts %}{% endblock scripts %}
</body>

</html>